<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flowers</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
    <main>
        <h1>All flowers</h1>
        <table>
            <thead>
                <tr>
                    <th>FlowerId</th>
                    <th>Name</th>
                    <th>Site</th>
                    <th>Unit price</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(flower =>{ %>
                    <tr>
                        <td><%= flower.flowerId %></td>
                        <td><%= flower.name %></td>
                        <td><%= flower.site %></td>
                        <td><%= flower.unitPrice %></td>
                        <td><%= flower.stock %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/"><button>Menu</button></a>
    </main> 
</body>
</html>